/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*:after{
    box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	line-height: 42px;

}

img{
	display: block;
}

.font-weight-black{
	font-weight:900;
}

.font-weight-bold{
	font-weight:700;
}

.font-weight-medium{
	font-weight:500;
}

.line-he-36{
	line-height: 36px;
}

.line-he-30{
	line-height: 30px;
}


h1{
	font-size: 80px;
	line-height: 106px;
}

h2{
	font-size: 64px;
	line-height: 84px;
}



.ml-16{
	margin-left: 16px;
}

.ml-24{
	margin-left: 24px;
}



.mt-12{
	margin-top: 12px;
}

.mt-16{
	margin-top: 16px;
}

.mt-32{
	margin-top: 32px;
}

.mt-40{
	margin-top: 40px;
}

.mb-48{
	margin-bottom: 48px;
}

.mt-56{
	margin-top: 56px;
}


.mb-68{
	margin-bottom: 68px;
}



.mb-144{
	margin-bottom: 144px;
}

.pt-4{
	padding-top: 4px;
}

.pt-8{
	padding-top: 8px;
}


.pt-20{
	padding-top: 20px;
}

.pb-24{
	padding-bottom: 24px;
}

.pt-28{
	padding-top: 28px;
}


.pt-40{
	padding-top: 40px;
}

.pb-40{
	padding-bottom: 40px;
}


.pt-56{
	padding-top: 56px;
}

.pt-64{
	padding-top: 64px;
}

.pb-64{
	padding-bottom: 64px;
}

.pb-160{
	padding-bottom: 160px;
}


.container{
	width: 1200px; 
	margin: 0 auto;
}

.header{
	height:958px;
	background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week2/banner.png?raw=true");
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center	;
}

.icon{
	display: flex;
}


.color-white{
	color: white;	
}

p{
	font-size: 24px;
	line-height: 36px;	
}



.profile{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profile img{
	width:384px;
	height:384px;
}

.profile .border{
	width: 384px;
	border-bottom: 1px solid black;
}


.dot::before {
	content:"";
	width: 22px;
	height: 22px;
	background-color: #891818;
	border-radius: 50%;
	margin-right: 16px;
	display: inline-block;
}


.bg-color{
	background-color: black;
	
}


.brand{
	text-align: center;
	
}


.brand ul{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}


.f-24-42{
	font-size: 24px;
	line-height: 42px;
}


.sub-title{
	font-size: 20px;
}


.work{
	text-align: center;
}

.work-photo ul{
	display: flex;
	justify-content: space-between;
}



.name{
	font-size: 20px;
	line-height: 42px;
}


.footer{
	text-align: center;
}

.footer a{
	text-decoration: none;
	color: white;
}

